# Dependencies
node_modules/
package-lock.json

# Environment variables
.env.local
.env.production
.env

# Build outputs
dist/
build/
uploads/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
.cache/

# image
*.jpg/